

</body>

<footer id="footer">
  <div class="bottom-container">
    <a class="footer-link" href="https://www.instagram.com/nikhilprakash2012/"><i
        class="social-margin fab fa-instagram"></i></a>
    <a class="footer-link" href="https://www.facebook.com/nikhil.prakash.520/"><i class="fab fa-facebook"></i></a>
    <a class="footer-link" href="https://twitter.com/Nikhil21994254"><i class="social-margin fab fa-twitter"></i></a>
    <a class="footer-link" href="https://github.com/nikhil-03"><i class="social-margin fab fa-github"></i></a>
    <p class="copy-right">© 2020 Nikhil Prakash.</p>
  </div>
</footer>


</html>
